.icon-icon-process-1{background-image: url('sprite.png');background-position: 0px 0px;width:200px;height:200px;}
.icon-icon-process-2{background-image: url('sprite.png');background-position: -205px 0px;width:200px;height:200px;}
.icon-icon-process-3{background-image: url('sprite.png');background-position: 0px -205px;width:200px;height:200px;}
.icon-icon-process-4{background-image: url('sprite.png');background-position: -205px -205px;width:200px;height:200px;}
.icon-logo{background-image: url('sprite.png');background-position: -410px 0px;width:200px;height:200px;}
